body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  img { width: 500px; height: 500px; }
   background-color: #92a8d1; 
   background-image: (1.png);
}

a {
  color: #00B7FF;
}
